.center {
  width: 30%;
  margin-right: 5%;

  .centerHeader {
    height: 75px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #34465a;
    font-weight: 700;

    .centerSavedBox1 {
      margin-right: 15px;
      .centerSavedBox1Title {
        display: flex;
        justify-content: center;
      }
    }

    .centerSavedBox2 {
      .centerSavedBox2Title {
        display: flex;
        justify-content: center;
      }
    }
  }

  .centerContent {
    height: calc(100% - 250px);
    margin-bottom: 50px;
    background-color: #34465a;
  }

  .centerFooter {
    height: 75px;
    background-color: #34465a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
