.center {
  width: 408px;
  height: 1000px;
  position: absolute;
  left: 516px;

  .centerHeader {
    height: 75px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #34465a;
    font-weight: 700;

    .centerSavedBox1 {
      margin-right: 15px;
      .centerSavedBox1Title {
        display: flex;
        justify-content: center;
      }
    }

    .centerSavedBox2 {
      .centerSavedBox2Title {
        display: flex;
        justify-content: center;
      }
    }
  }

  .centerContent {
    height: calc(100% - 250px);
    margin-bottom: 50px;
    background-color: #34465a;
    position: relative;
  }

  .centerFooter {
    height: 75px;
    display: flex;
    align-items: center;

    .centerFooter1 {
      height: 100%;
      margin-right: 20px;
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #34465a;
    }

    .centerFooter2 {
      width: 282px;
      height: 100%;
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #34465a;
    }
  }
}

.centerEx {
  width: 884px;
  height: 1000px;
  position: absolute;
  left: 516px;
  background-color: #2c3d4d;
  z-index: 1;

  .centerExHeader {
    height: 75px;
    margin-bottom: 50px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #34465a;
    font-weight: 700;

    .centerSavedBox1 {
      margin-right: 15px;
      .centerSavedBox1Title {
        display: flex;
        justify-content: center;
      }
    }

    .centerSavedBox2 {
      .centerSavedBox2Title {
        display: flex;
        justify-content: center;
      }
    }
  }

  .centerExContent {
    height: calc(100% - 250px);
    margin-bottom: 50px;
    background-color: #34465a;
    position: relative;
  }

  .centerExFooter {
    height: 75px;
    padding: 0 10px;
    background-color: #34465a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.center2 {
  width: 408px;
  height: 1000px;
  position: absolute;
  left: 516px;

  .center2Header {
    height: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: #34465a;
    color: #ffffff;
    font-weight: 700;
  }

  .center2Content {
    height: calc(100% - 225px);
    margin-bottom: 50px;
    background-color: #34465a;
    position: relative;
  }

  .center2Footer {
    height: 75px;
    background-color: #34465a;
    display: flex;
    justify-content: right;
    align-items: center;
  }
}

.center2Ex {
  width: 884px;
  height: 1000px;
  position: absolute;
  left: 40px;
  background-color: #2c3d4d;

  .center2ExHeader {
    height: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: #34465a;
    color: #ffffff;
    font-weight: 700;
  }

  .center2ExContent {
    height: calc(100% - 225px);
    margin-bottom: 50px;
    background-color: #34465a;
    position: relative;
  }

  .center2ExFooter {
    height: 75px;
    background-color: #34465a;
    display: flex;
    justify-content: right;
    align-items: center;
  }
}
