.header {
  height: 150px;
  padding: 20px;
  display: flex;
  background-color: #34465a;

  .headerLeft {
    width: 480px;
    display: flex;
    align-items: center;

    .skkuLogo {
      width: 60px;
      height: 71px;
    }

    .title {
      margin-left: 10px;
      font-size: 20px;
      color: #ffffff;
    }
  }

  .headerCenter {
    width: 60%;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .headerRight {
    display: flex;
    justify-content: flex-end;

    .week {
      width: 230px;
      height: 20px;
      margin: auto 5px;
      background-color: #ffffff;
      border-radius: 3px;
      font-size: 12px;
      text-align: center;
    }
  }
}
