.left {
  width: 30%;
  margin-right: 5%;

  .problem {
    height: calc(50% - 25px);
    margin-bottom: 50px;
    background-color: #34465a;

    .problemHeader {
      height: 50px;
      padding: 0 15px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      color: #ffffff;
      font-weight: 700;
    }

    .problemContent {
      height: calc(50% - 30px);

      .problemContentText {
        width: 100%;
        height: 100%;
        padding: 0 15px;
        color: #ffffff;
        font-weight: 500;
        line-height: 40px;
        overflow: auto;
      }

      .problemContentText::-webkit-scrollbar {
        // display: none; /* 크롬, 사파리, 오페라, 엣지 */
      }
    }

    .problemConstraint {
      height: calc(50% - 30px);

      .problemConstraintHeader {
        margin-bottom: 10px;
        padding-left: 10px;
        color: #ffffff;
        font-weight: 700;
      }

      .problemConstraintText {
        padding: 0 10px;
        color: #ffffff;
        font-weight: 500;
        line-height: 40px;
      }
    }
  }

  .testcase {
    height: calc(50% - 25px);
    background-color: #34465a;

    .testcaseHeader {
      margin-bottom: 10px;
      padding: 10px 0 0 10px;
      color: #ffffff;
      font-weight: 500;
    }

    .testcase1 {
      height: calc(50% - 22px);
      color: #ffffff;

      .testcase1Header {
        height: 25px;
        margin-bottom: 10px;
        padding-left: 10px;
        font-weight: 700;
      }

      .testcase1Content {
        padding-left: 10px;
      }
    }

    .testcase2 {
      height: calc(50% - 22px);
      color: #ffffff;

      .testcase2Header {
        height: 25px;
        margin-bottom: 10px;
        padding-left: 10px;
        font-weight: 700;
      }

      .testcase2Content {
        padding-left: 10px;
      }
    }
  }
}
